chatbot-n8n/Alimentacao da IA (RAG).json
{
  "name": "Alimentacao da IA (RAG)",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documentos",
          "mode": "list",
          "cachedResultName": "documentos"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        864,
        144
      ],
      "id": "37e0db28-28b0-4b25-a2cb-a0dfb62a526a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ekOYIFvekTHF0SoE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        384
      ],
      "id": "ff8d2280-1bcb-4324-b8b3-a5db2ef13d5e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OwW6ALMrJmJt2GRR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "pdfLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "arquivo_id",
                "value": "={{ $('Webhook').item.json.body.record.id }}"
              },
              {
                "name": "category",
                "value": "={{ $('Webhook').item.json.body.record.categoria_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        384
      ],
      "id": "592ea6a8-e6c9-4b6c-9ff0-87655fe8acc8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1216,
        144
      ],
      "id": "35b2cd80-7475-4f6f-ab9a-890bb4e8ef7d",
      "name": "Limit"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo-pdf-rag",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        464,
        144
      ],
      "id": "8371c0bf-3a5d-49ee-a945-90c2bbb5b2cc",
      "name": "Webhook",
      "webhookId": "1e8a5209-5b05-4689-b608-6182e51e4f14"
    },
    {
      "parameters": {
        "url": "=https://htsjwhuhfzcjruzwsdrf.storage.supabase.co/storage/v1/object/arquivos_rag/{{ $json.body.record.storage_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0c2p3aHVoZnpjanJ1endzZHJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMxMzMyMywiZXhwIjoyMDgwODg5MzIzfQ.UpcAW_Ap7v7E1oUvxBP5T3BQS5dcersbrLFhDXMY7ts"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        144
      ],
      "id": "630349ab-26c7-4db9-8a03-414487687d43",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cea32947-850c-4e7a-a2db-09c23192e057",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5eaa6ba0986626f01eb024c5bb1f76aadad0a491a2deb83a77a572c5d18a719"
  },
  "id": "ewUwx2jiklmbD3AZ",
  "tags": [
    {
      "updatedAt": "2025-12-17T20:35:59.644Z",
      "createdAt": "2025-12-17T20:35:59.644Z",
      "id": "yo6XdkWF9gxVuN5Q",
      "name": "sub-workflow"
    }
  ]
}