chatbot-n8n/Validacao de CPF.json
{
  "name": "Validacao de CPF",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Mensagem"
            },
            {
              "name": "Instancia"
            },
            {
              "name": "Numero"
            },
            {
              "name": "Nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -64
      ],
      "id": "b9a3452b-d63f-4ca9-ad4d-19218b1aaf9a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "cpf",
              "condition": "eq",
              "keyValue": "={{ $('CODE: Limpa e Valida CPF Mat.').item.json.cpfExtraido }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        -64
      ],
      "id": "e7cfb267-bfa7-4327-b8b9-1b734179c8f8",
      "name": "DB: Consulta CPF Cadastrado",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ekOYIFvekTHF0SoE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcbbb82-2d56-4856-b061-dc567510bfea",
              "leftValue": "={{ $json.cpf }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        -64
      ],
      "id": "97cb9792-6250-42a3-a9cb-a1fe7215fe8d",
      "name": "IF: CPF Encontrado?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagemNormal }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "fcafdcb8-5b2d-4d3f-a943-c037e574820b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto Comum"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60c5e738-03d6-497c-b464-4f86286b5afd",
                    "leftValue": "={{ $json.cpfValido }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CPF Valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8afba7ab-0c3d-4f72-a3c5-e4a5c6cc4064",
                    "leftValue": "={{ $json.cpfInvalido }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CPF Invalido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        32,
        -80
      ],
      "id": "a5963cf5-4f24-42c0-ae5d-14ca262cd47c",
      "name": "SWITCH: Roteia Mensagem CPF"
    },
    {
      "parameters": {
        "jsCode": "// Função pura para validar CPF\nfunction isValidCPF(cpf) {\n    if (typeof cpf !== 'string') return false;\n    cpf = cpf.replace(/[^\\d]+/g, '');\n    if (cpf.length !== 11 || !!cpf.match(/(\\d)\\1{10}/)) return false;\n    \n    let sum = 0;\n    let remainder;\n    \n    for (let i = 1; i <= 9; i++) \n        sum = sum + parseInt(cpf.substring(i-1, i)) * (11 - i);\n        \n    remainder = (sum * 10) % 11;\n    if ((remainder === 10) || (remainder === 11)) remainder = 0;\n    if (remainder !== parseInt(cpf.substring(9, 10))) return false;\n    \n    sum = 0;\n    for (let i = 1; i <= 10; i++) \n        sum = sum + parseInt(cpf.substring(i-1, i)) * (12 - i);\n        \n    remainder = (sum * 10) % 11;\n    if ((remainder === 10) || (remainder === 11)) remainder = 0;\n    if (remainder !== parseInt(cpf.substring(10, 11))) return false;\n    \n    return true;\n}\n\nconst msg = $input.first().json.Mensagem || \"\";\n\n// 1. Tenta encontrar um padrão de CPF na frase (XXX.XXX.XXX-XX ou 11 digitos seguidos)\n// O regex \\b garante que não pegaremos 11 digitos no meio de uma sequencia maior\nconst cpfRegex = /(?:\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2})|\\b\\d{11}\\b/;\nconst match = msg.match(cpfRegex);\n\nlet cpfExtraido = \"\";\nlet cpfValido = false;\nlet cpfInvalido = false;\nlet mensagemNormal = false;\n\nif (match) {\n    // Limpa pontuação para validação\n    cpfExtraido = match[0].replace(/\\D/g, \"\");\n    \n    // Valida matematicamente\n    if (isValidCPF(cpfExtraido)) {\n        cpfValido = true;\n    } else {\n        cpfInvalido = true; // Tem formato, mas dígitos verificadores errados\n    }\n} else {\n    // Se não achou nenhum padrão de CPF, verifica se tem números soltos que parecem tentativa\n    const apenasDigitos = msg.replace(/\\D/g, \"\");\n    if (apenasDigitos.length > 0) {\n        cpfInvalido = true; // Usuário mandou numeros, mas não parece CPF\n    } else {\n        mensagemNormal = true; // Texto puro\n    }\n}\n\nreturn [{\n    cpfValido,\n    cpfInvalido,\n    mensagemNormal,\n    mensagemOriginal: msg,\n    cpfExtraido\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -64
      ],
      "id": "34fcc390-9cd2-4ff7-a217-38f16903e897",
      "name": "CODE: Limpa e Valida CPF Mat."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6dda471-8da1-4c2d-9aef-bfa0bb981d7c",
              "name": "sucesso",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -224
      ],
      "id": "a0bf16cb-ab63-43e9-90ef-be5e370b640a",
      "name": "Output: Sucesso"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae7614a1-8461-45fe-b4a6-de26c92d28d7",
              "name": "sucesso",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        32
      ],
      "id": "e0443638-297e-43b6-8173-4e956d12660e",
      "name": "Output: Falha"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae7614a1-8461-45fe-b4a6-de26c92d28d7",
              "name": "sucesso",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        160
      ],
      "id": "92530666-56f9-4fa9-9de4-1596dbdcea1b",
      "name": "Output: Falha1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae7614a1-8461-45fe-b4a6-de26c92d28d7",
              "name": "sucesso",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -256
      ],
      "id": "5792472c-fb62-421b-b52f-4858f266c190",
      "name": "Output: Falha2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N1DNzToSvAsIaaAw",
          "mode": "list",
          "cachedResultUrl": "/workflow/N1DNzToSvAsIaaAw",
          "cachedResultName": "API - Enviar Mensagem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "delay": "2",
            "numero": "={{ $('When Executed by Another Workflow').item.json.Numero }}",
            "instancia": "={{ $('When Executed by Another Workflow').item.json.Instancia }}",
            "mensagem": "=Ops! Não consegui validar esse CPF. 🤔\n\nParece que há um dígito incorreto ou erro de digitação.\n\nPor favor, confira o número e envie novamente."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "delay",
              "displayName": "delay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        336,
        160
      ],
      "id": "3c52dfc4-3e90-4843-bae9-e53c0b550039",
      "name": "MSG: CPF Invalido (Reenvio)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N1DNzToSvAsIaaAw",
          "mode": "list",
          "cachedResultUrl": "/workflow/N1DNzToSvAsIaaAw",
          "cachedResultName": "API - Enviar Mensagem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $('When Executed by Another Workflow').item.json.Numero }}",
            "instancia": "={{ $('When Executed by Another Workflow').item.json.Instancia }}",
            "delay": "2",
            "mensagem": "Olá! Tudo bem? 👋\n\nPara iniciarmos seu atendimento, preciso localizar seu usuário no sistema.\n\n📄 Por favor, envie seu CPF. (Pode digitar com ou sem pontos, ex: 123.456.789-00)"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "delay",
              "displayName": "delay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        336,
        -256
      ],
      "id": "3b74ef70-f033-4092-9fc5-96661c0a2731",
      "name": "MSG: Pede CPF"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N1DNzToSvAsIaaAw",
          "mode": "list",
          "cachedResultUrl": "/workflow/N1DNzToSvAsIaaAw",
          "cachedResultName": "API - Enviar Mensagem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $('When Executed by Another Workflow').item.json.Numero }}",
            "instancia": "={{ $('When Executed by Another Workflow').item.json.Instancia }}",
            "delay": "3",
            "mensagem": "🔍 Cadastro não localizado.\n\nNão encontrei este CPF na nossa base de usuários autorizados.\n\nComo o cadastro é feito manualmente, por favor solicite sua inclusão a equipe de TI."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "delay",
              "displayName": "delay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        32
      ],
      "id": "047af2e2-58ce-4127-920e-560caf5c8093",
      "name": "MSG: Acesso Negado (CPF Nao Cad.)"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "=cpf",
              "condition": "eq",
              "keyValue": "={{ $('CODE: Limpa e Valida CPF Mat.').item.json.cpfExtraido }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.Numero }}"
            },
            {
              "fieldId": "status_conversa",
              "fieldValue": "VALIDANDO_IDENTIDADE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        -224
      ],
      "id": "6563ef25-27de-47fd-b32c-c48b95771c77",
      "name": "DB: Atualiza Numero e Status (ID)",
      "credentials": {
        "supabaseApi": {
          "id": "ekOYIFvekTHF0SoE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N1DNzToSvAsIaaAw",
          "mode": "list",
          "cachedResultUrl": "/workflow/N1DNzToSvAsIaaAw",
          "cachedResultName": "API - Enviar Mensagem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $('When Executed by Another Workflow').item.json.Numero }}",
            "instancia": "={{ $('When Executed by Another Workflow').item.json.Instancia }}",
            "mensagem": "=Sucesso! Localizei seu cadastro. 🎉 \n\nNome: *{{ $json.nome }}*\n\nPara vincular este WhatsApp ao seu usuário e liberar o acesso, confirme abaixo:\n\n1️⃣ Sim, sou eu \n2️⃣ Não, essa é outra pessoa",
            "delay": "2"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "delay",
              "displayName": "delay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        976,
        -224
      ],
      "id": "51b6c528-0528-4edf-9ad6-f7b8d202ca6a",
      "name": "API: MSG Confirma Identidade (Sim/Nao)"
    }
  ],
  "pinData": {},
  "connections": {
    "DB: Consulta CPF Cadastrado": {
      "main": [
        [
          {
            "node": "IF: CPF Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: CPF Encontrado?": {
      "main": [
        [
          {
            "node": "DB: Atualiza Numero e Status (ID)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSG: Acesso Negado (CPF Nao Cad.)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH: Roteia Mensagem CPF": {
      "main": [
        [
          {
            "node": "MSG: Pede CPF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Consulta CPF Cadastrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSG: CPF Invalido (Reenvio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: Limpa e Valida CPF Mat.": {
      "main": [
        [
          {
            "node": "SWITCH: Roteia Mensagem CPF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CODE: Limpa e Valida CPF Mat.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG: CPF Invalido (Reenvio)": {
      "main": [
        [
          {
            "node": "Output: Falha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG: Pede CPF": {
      "main": [
        [
          {
            "node": "Output: Falha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG: Acesso Negado (CPF Nao Cad.)": {
      "main": [
        [
          {
            "node": "Output: Falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Atualiza Numero e Status (ID)": {
      "main": [
        [
          {
            "node": "API: MSG Confirma Identidade (Sim/Nao)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: MSG Confirma Identidade (Sim/Nao)": {
      "main": [
        [
          {
            "node": "Output: Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02fe1e5c-17df-46fc-928e-9cdd9c72e9d4",
  "meta": {
    "instanceId": "c5eaa6ba0986626f01eb024c5bb1f76aadad0a491a2deb83a77a572c5d18a719"
  },
  "id": "42wb9l7TnHgGnF9h",
  "tags": [
    {
      "updatedAt": "2025-12-17T20:35:59.644Z",
      "createdAt": "2025-12-17T20:35:59.644Z",
      "id": "yo6XdkWF9gxVuN5Q",
      "name": "sub-workflow"
    }
  ]
}